{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "modules": false
      }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-runtime"
    ]
  ]
}